* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
    transition: all 0.5s;
    text-transform: uppercase !important;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

header {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    text-transform: uppercase;
    color: white;
    border: 3px hsl(217, 16%, 45%) solid;
    border-radius: 1rem;
    padding: 1rem 2rem;

}

header .score {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0px;
    width: 10rem;
}

header h2 {
    font-weight: bold;
    font-size: 4rem;
    color: hsl(229, 25%, 31%);
}

header span {
    color: blue;
}

main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
    position: relative;
}

main ul li {
    list-style: none;
    background-color: white;
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid;
    flex: 1;
    flex-basis: 30%;
}

main ul li img {
    width: 80px;
}

main #option li:nth-child(1), #clicked ul .blue {
    border-color: hsl(230, 89%, 65%) !important;

}

main #option li:nth-child(1)::before {
    content: " ";
    width: 19rem;
    right: 40%;
    height: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: -1;
}

main #option li:nth-child(2), #clicked ul .yellow {
    border-color: hsl(39, 89%, 49%);
}

main #option li:nth-child(2)::before {
    content: " ";
    width: 19rem;
    right: 6rem;
    bottom: 18rem;
    transform: rotate(-65deg);
    height: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: -1;
}

main #option li:nth-child(3), #clicked ul .red {
    border-color: hsl(349, 71%, 52%);
}


main #option li:nth-child(3)::before {
    content: " ";
    width: 20rem;
    left: 6rem;
    bottom: 18rem;
    transform: rotate(65deg);
    height: 20px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: -1;
}

main .hidden {
    display: none;
}

main #clicked .text-box {
    display: flex;
    max-width: 50vw;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

section ul {
    display: flex;
    flex-direction: row;
    min-width: 50vw;
}

section ul li:nth-child(2) {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

section ul li:nth-child(2) h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#clicked ul li #play_again {
    padding: 0.8rem 3rem;
    border: none;
    background-color: white;
    color: hsl(229, 25%, 31%);
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

#clicked ul li:first-of-type {
    position: relative;
}

#clicked ul li:last-of-type {
    position: relative;
}

/*3*/
.gradient {
    position: absolute;
    background: rgba(34, 49, 80, 1);
    width: 30rem;
    height: 30rem;
    z-index: -4;
    border-radius: 50%;
    top: -150px;
}

/*1*/
.gradient::before {
    content: " ";
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(43, 57, 86, 1);
    z-index: -2;
    border-radius: 50%;
    top: 15%;
    left: 17%;
}

/*2*/
.gradient::after {
    content: " ";
    z-index: -3;
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: rgba(38, 53, 84, 1);
    border-radius: 50%;
    top: 8%;
    left: 8%;

}

@media screen and (max-width: 560px) {
    header {
        width: 90%;
        padding: 1rem 0.5rem 1rem 1.5rem;
    }

    header .info {
        font-size: 0.8rem;
    }

    header .score {
        width: 7rem;
        height: 6rem;
        padding: 1rem;
    }

    header .score h2 {
        font-size: 3.5rem;
    }

    #option li, #clicked ul li {
        max-width: 120px;
        max-height: 120px;
        min-width: 120px;
        min-height: 120px;
        margin: 2rem;
        border: 15px solid;
    }

    #option li img, #clicked ul li img {
        width: 3rem;
    }

    main #option li:nth-child(1)::before {
        width: 10rem;
    }

    main #option li:nth-child(2)::before {
        width: 13rem;
        bottom: 35%;
    }

    main #option li:nth-child(3)::before {
        width: 13rem;
        bottom: 35%;
    }

    #clicked ul li:nth-child(2) {
        border: none;
        position: absolute;
        bottom: -150%;
        max-width: 90vw;

        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    #clicked {
        display: flex;
        flex-direction: column-reverse;
    }

    #clicked .text-box span {
        font-size: 1rem;
    }

    main #clicked .text-box {
        width: 90vw;
        max-width: 90vw;
        justify-content: space-evenly;
    }

    #clicked.hidden, #option.hidden {
        display: none !important;
    }


    /*   3*/
    .gradient {
        position: absolute;
        background: rgba(34, 49, 80, 1);
        width: 20rem;
        height: 20rem;
        z-index: -4;
        border-radius: 50%;
        top: -110px;
    }

    /*1*/
    .gradient::before {
        content: " ";
        position: absolute;
        width: 10rem;
        height: 10rem;
        background: rgba(43, 57, 86, 1);
        z-index: -2;
        border-radius: 50%;
        top: 23%;
        left: 25%;
    }

    /*2*/
    .gradient::after {
        content: " ";
        z-index: -3;
        position: absolute;
        width: 15rem;
        height: 15rem;
        background: rgba(38, 53, 84, 1);
        border-radius: 50%;
        top: 12%;
        left: 12%;

    }


}