* {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  transition: all 0.2s;
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin: 6% 1%;
}
time {
  margin: 5% 1%;
}
.yellow-background {
  background-color: hsl(47, 88%, 63%);
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.black-text {
  width: fit-content;
  padding: 2% 3%;
  border-radius: 5px;
}
li {
  margin: 6% 0%;
}
.card {
  background-color: white;
  border: 0.1rem solid hsl(0, 0%, 7%);
  border-radius: 20px;
  max-width: 20rem;
  padding: 1.4rem;
  padding-bottom: 0rem;
  box-shadow: 0.6rem 0.6rem hsl(0, 0%, 7%);
}
.grey-text {
  color: hsl(0, 0%, 50%);
  line-height: 1.5;
  margin: 0% 1%;
}
.bold {
  font-weight: 800;
  margin: 5% 1%;
}
.illustration {
  width: 100%;
  border-radius: 1rem;
}
h1 {
  font-size: 1.5em;
  font-weight: 900;
  margin: 5% 1%;
}
h1:hover {
  color: hsl(47, 88%, 63%);
}
.card:hover:active {
  box-shadow: 1rem 1rem hsl(0, 0%, 7%);
}
.avatar {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.inline {
  display: flex;
  margin: 5% 0%;
}
.small-p {
  font-size: 0.9rem;
}
/* mediun size phones like iphone 12, 13 (medium size phone screens) */
@media (max-width: 425px) and (min-width: 390px) {
  .card {
    margin: 12rem 2.5rem;
    padding: 20px;
    max-width: 20em;
  }
  .avatar {
    margin-right: 10px;
  }
  .inline {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }
  body {
    margin: 0px;
  }
  h1 {
    font-size: 1.4em;
  }
  p {
    font-size: 0.85em;
  }
  .avatar {
    height: 2rem;
    width: 2rem;
    margin-top: 0.25em;
  }
}
/* for phones like iphone se with small screen */
@media (min-width: 0px) and (max-width: 389px) {
  .card {
    margin: 6rem 1.5rem;
    padding: 1.2rem;
  }
  h1 {
    font-size: 1.4em;
  }
  p {
    font-size: 0.8em;
  }
  .avatar {
    height: 2rem;
    width: 2rem;
    margin-top: 0.25em;
  }
}
/* for phones like samsung s series and iphone pro max screens (large screens) */
@media (max-width: 480px) and (min-width: 426px) {
  .card {
    margin: 14rem 4rem;
    padding: 1rem;
    max-width: 20em;
  }
  h1 {
    font-size: 1.3em;
  }
  p {
    font-size: 0.8em;
  }
  .avatar {
    height: 2rem;
    width: 2rem;
    margin-top: 0.25em;
    margin-right: 0.5em;
  }
}
/* for 4k monitors */
@media (min-width: 2560px) {
  .card {
    margin: 20em 50em 20em 50em;
    padding: 3rem;
    max-width: 100rem;
    border-radius: 2rem;
    max-width: 50rem;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2.3rem;
  }
  body {
    margin: 0rem;
  }
  .inline > .bold {
    font-size: 2rem;
  }
  .avatar {
    width: 4rem;
    height: 4rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
  }
  * {
    transition: all 0.3s;
  }
}
